In [1]:
import pandas as pd
df_ipl = pd.read_csv("General_Datasets\ipl_json.csv")
df_ipl

<>:2: SyntaxWarning: invalid escape sequence '\i'
<>:2: SyntaxWarning: invalid escape sequence '\i'
C:\Users\Aakankhya\AppData\Local\Temp\ipykernel_9360\3517891628.py:2: SyntaxWarning: invalid escape sequence '\i'
  df_ipl = pd.read_csv("General_Datasets\ipl_json.csv")

,Date,Match_Number,City,Venue,Season,Name,Match_Type,Total_Overs,Teams_Participated,Team_1,Team_2,Team_Type,Toss_Winner,Choose_To,Match_Winner,Match_Result,Win_By_Runs,Win_By_Wickets,Win_By_Innings,Man_Of_Match
0,2017-04-05,1.0,Hyderabad,"Rajiv Gandhi International Stadium, Uppal",2017,Indian Premier League,T20,20,"Sunrisers Hyderabad, Royal Challengers Bangalore",Sunrisers Hyderabad,Royal Challengers Bangalore,club,Royal Challengers Bangalore,field,Sunrisers Hyderabad,NaN,35.0,NaN,NaN,Yuvraj Singh
1,2017-04-06,2.0,Pune,Maharashtra Cricket Association Stadium,2017,Indian Premier League,T20,20,"Rising Pune Supergiant, Mumbai Indians",Rising Pune Supergiant,Mumbai Indians,club,Rising Pune Supergiant,field,Rising Pune Supergiant,NaN,NaN,7.0,NaN,SPD Smith
2,2017-04-07,3.0,Rajkot,Saurashtra Cricket Association Stadium,2017,Indian Premier League,T20,20,"Gujarat Lions, Kolkata Knight Riders",Gujarat Lions,Kolkata Knight Riders,club,Kolkata Knight Riders,field,Kolkata Knight Riders,NaN,NaN,10.0,NaN,CA Lynn
3,2017-04-08,4.0,Indore,Holkar Cricket Stadium,2017,Indian Premier League,T20,20,"Kings XI Punjab, Rising Pune Supergiant",Kings XI Punjab,Rising Pune Supergiant,club,Kings XI Punjab,field,Kings XI Punjab,NaN,NaN,6.0,NaN,GJ Maxwell
4,2017-04-08,5.0,Bengaluru,M.Chinnaswamy Stadium,2017,Indian Premier League,T20,20,"Royal Challengers Bangalore, Delhi Daredevils",Royal Challengers Bangalore,Delhi Daredevils,club,Royal Challengers Bangalore,bat,Royal Challengers Bangalore,NaN,15.0,NaN,NaN,KM Jadhav
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1164,2016-05-22,56.0,Raipur,Shaheed Veer Narayan Singh International Stadium,2016,Indian Premier League,T20,20,"Delhi Daredevils, Royal Challengers Bangalore",Delhi Daredevils,Royal Challengers Bangalore,club,Royal Challengers Bangalore,field,Royal Challengers Bangalore,NaN,NaN,6.0,NaN,V Kohli
1165,2016-05-24,NaN,Bangalore,M Chinnaswamy Stadium,2016,Indian Premier League,T20,20,"Gujarat Lions, Royal Challengers Bangalore",Gujarat Lions,Royal Challengers Bangalore,club,Royal Challengers Bangalore,field,Royal Challengers Bangalore,NaN,NaN,4.0,NaN,AB de Villiers
1166,2016-05-25,NaN,Delhi,Feroz Shah Kotla,2016,Indian Premier League,T20,20,"Sunrisers Hyderabad, Kolkata Knight Riders",Sunrisers Hyderabad,Kolkata Knight Riders,club,Kolkata Knight Riders,field,Sunrisers Hyderabad,NaN,22.0,NaN,NaN,MC Henriques
1167,2016-05-27,NaN,Delhi,Feroz Shah Kotla,2016,Indian Premier League,T20,20,"Gujarat Lions, Sunrisers Hyderabad",Gujarat Lions,Sunrisers Hyderabad,club,Sunrisers Hyderabad,field,Sunrisers Hyderabad,NaN,NaN,4.0,NaN,DA Warner
1168,2016-05-29,NaN,Bangalore,M Chinnaswamy Stadium,2016,Indian Premier League,T20,20,"Royal Challengers Bangalore, Sunrisers Hyderabad",Royal Challengers Bangalore,Sunrisers Hyderabad,club,Sunrisers Hyderabad,bat,Sunrisers Hyderabad,NaN,8.0,NaN,NaN,BCJ Cutting

In [3]:
df_ipl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1169 entries, 0 to 1168
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                1169 non-null   object
 1   Match_Number        1099 non-null   float64
 2   City                1118 non-null   object
 3   Venue               1169 non-null   object
 4   Season              1169 non-null   object
 5   Name                1169 non-null   object
 6   Match_Type          1169 non-null   object
 7   Total_Overs         1169 non-null   int64
 8   Teams_Participated  1169 non-null   object
 9   Team_1              1169 non-null   object
 10  Team_2              1169 non-null   object
 11  Team_Type           1169 non-null   object
 12  Toss_Winner         1169 non-null   object
 13  Choose_To           1169 non-null   object
 14  Match_Winner        1146 non-null   object
 15  Match_Result        23 non-null     object
 16  Win_By_Runs         531 non-null    float64
 17  Win_By_Wickets      615 non-null    float64
 18  Win_By_Innings      0 non-null      float64
 19  Man_Of_Match        1161 non-null   object
dtypes: float64(4), int64(1), object(15)
memory usage: 182.8+ KB

In [4]:
df_ipl["Match_Result"].value_counts()

Match_Result
tie          15
no result     8
Name: count, dtype: int64

In [5]:
columns_to_drop = ['Teams_Participated', 'Win_By_Innings', 'Match_Result']
df_ipl.drop(columns=columns_to_drop, inplace=True)
print(f"Dropped columns: {columns_to_drop}")

Dropped columns: ['Teams_Participated', 'Win_By_Innings', 'Match_Result']

In [6]:
import pandas as pd
df_odis= pd.read_csv("General_Datasets\odis_json.csv")
df_odis

<>:2: SyntaxWarning: invalid escape sequence '\o'
<>:2: SyntaxWarning: invalid escape sequence '\o'
C:\Users\Aakankhya\AppData\Local\Temp\ipykernel_16488\2529474424.py:2: SyntaxWarning: invalid escape sequence '\o'
  df_odis= pd.read_csv("General_Datasets\odis_json.csv")

,Date,Match_Number,City,Venue,Season,Name,Match_Type,Total_Overs,Teams_Participated,Team_1,Team_2,Team_Type,Toss_Winner,Choose_To,Match_Winner,Match_Result,Win_By_Runs,Win_By_Wickets,Win_By_Innings,Man_Of_Match
0,2017-01-13,1.0,Brisbane,"Brisbane Cricket Ground, Woolloongabba",2016/17,Pakistan in Australia ODI Series,ODI,50,"Australia, Pakistan",Australia,Pakistan,international,Australia,bat,Australia,NaN,92.0,NaN,NaN,MS Wade
1,2017-01-15,2.0,NaN,Melbourne Cricket Ground,2016/17,Pakistan in Australia ODI Series,ODI,50,"Australia, Pakistan",Australia,Pakistan,international,Australia,bat,Pakistan,NaN,NaN,6.0,NaN,Mohammad Hafeez
2,2017-01-19,3.0,Perth,Western Australia Cricket Association Ground,2016/17,Pakistan in Australia ODI Series,ODI,50,"Australia, Pakistan",Australia,Pakistan,international,Australia,field,Australia,NaN,NaN,7.0,NaN,SPD Smith
3,2017-01-22,4.0,NaN,Sydney Cricket Ground,2016/17,Pakistan in Australia ODI Series,ODI,50,"Australia, Pakistan",Australia,Pakistan,international,Australia,bat,Australia,NaN,86.0,NaN,NaN,DA Warner
4,2017-01-26,5.0,NaN,Adelaide Oval,2016/17,Pakistan in Australia ODI Series,ODI,50,"Australia, Pakistan",Australia,Pakistan,international,Australia,bat,Australia,NaN,57.0,NaN,NaN,DA Warner
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3067,2016-08-28,3.0,NaN,Rangiri Dambulla International Stadium,2016,Australia in Sri Lanka ODI Series,ODI,50,"Sri Lanka, Australia",Sri Lanka,Australia,international,Sri Lanka,bat,Australia,NaN,NaN,2.0,NaN,GJ Bailey
3068,2016-08-31,4.0,NaN,Rangiri Dambulla International Stadium,2016,Australia in Sri Lanka ODI Series,ODI,50,"Sri Lanka, Australia",Sri Lanka,Australia,international,Sri Lanka,bat,Australia,NaN,NaN,6.0,NaN,JW Hastings
3069,2016-09-04,5.0,NaN,Pallekele International Cricket Stadium,2016,Australia in Sri Lanka ODI Series,ODI,50,"Sri Lanka, Australia",Sri Lanka,Australia,international,Sri Lanka,bat,Australia,NaN,NaN,5.0,NaN,DA Warner
3070,2016-08-14,26.0,Edinburgh,"Grange Cricket Club Ground, Raeburn Place",2016,ICC World Cricket League Championship,ODI,50,"Scotland, United Arab Emirates",Scotland,United Arab Emirates,international,United Arab Emirates,field,Scotland,NaN,98.0,NaN,NaN,NaN
3071,2016-08-16,28.0,Edinburgh,"Grange Cricket Club Ground, Raeburn Place",2016,ICC World Cricket League Championship,ODI,50,"Scotland, United Arab Emirates",Scotland,United Arab Emirates,international,United Arab Emirates,bat,Scotland,NaN,NaN,7.0,NaN,NaN

In [7]:
df_odis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3072 entries, 0 to 3071
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                3072 non-null   object
 1   Match_Number        2861 non-null   float64
 2   City                2766 non-null   object
 3   Venue               3072 non-null   object
 4   Season              3072 non-null   object
 5   Name                3058 non-null   object
 6   Match_Type          3072 non-null   object
 7   Total_Overs         3072 non-null   int64
 8   Teams_Participated  3072 non-null   object
 9   Team_1              3072 non-null   object
 10  Team_2              3072 non-null   object
 11  Team_Type           3072 non-null   object
 12  Toss_Winner         3072 non-null   object
 13  Choose_To           3072 non-null   object
 14  Match_Winner        2919 non-null   object
 15  Match_Result        153 non-null    object
 16  Win_By_Runs         1426 non-null   float64
 17  Win_By_Wickets      1493 non-null   float64
 18  Win_By_Innings      0 non-null      float64
 19  Man_Of_Match        2854 non-null   object
dtypes: float64(4), int64(1), object(15)
memory usage: 480.1+ KB

In [8]:
columns_to_drop = ['Teams_Participated', 'Win_By_Innings', 'Match_Result']
df_odis.drop(columns=columns_to_drop, inplace=True)
print(f"Dropped columns: {columns_to_drop}")

Dropped columns: ['Teams_Participated', 'Win_By_Innings', 'Match_Result']

In [9]:
city_mode = df_odis['City'].mode()[0]
df_odis['City'].fillna(city_mode, inplace=True)

C:\Users\Aakankhya\AppData\Local\Temp\ipykernel_16488\1642988263.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_odis['City'].fillna(city_mode, inplace=True)

In [10]:
df_odis['Win_By_Wickets'].fillna(method='ffill', inplace=True)

C:\Users\Aakankhya\AppData\Local\Temp\ipykernel_16488\1610536787.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_odis['Win_By_Wickets'].fillna(method='ffill', inplace=True)
C:\Users\Aakankhya\AppData\Local\Temp\ipykernel_16488\1610536787.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_odis['Win_By_Wickets'].fillna(method='ffill', inplace=True)

In [11]:
df_odis

,Date,Match_Number,City,Venue,Season,Name,Match_Type,Total_Overs,Team_1,Team_2,Team_Type,Toss_Winner,Choose_To,Match_Winner,Win_By_Runs,Win_By_Wickets,Man_Of_Match
0,2017-01-13,1.0,Brisbane,"Brisbane Cricket Ground, Woolloongabba",2016/17,Pakistan in Australia ODI Series,ODI,50,Australia,Pakistan,international,Australia,bat,Australia,92.0,NaN,MS Wade
1,2017-01-15,2.0,Colombo,Melbourne Cricket Ground,2016/17,Pakistan in Australia ODI Series,ODI,50,Australia,Pakistan,international,Australia,bat,Pakistan,NaN,6.0,Mohammad Hafeez
2,2017-01-19,3.0,Perth,Western Australia Cricket Association Ground,2016/17,Pakistan in Australia ODI Series,ODI,50,Australia,Pakistan,international,Australia,field,Australia,NaN,7.0,SPD Smith
3,2017-01-22,4.0,Colombo,Sydney Cricket Ground,2016/17,Pakistan in Australia ODI Series,ODI,50,Australia,Pakistan,international,Australia,bat,Australia,86.0,7.0,DA Warner
4,2017-01-26,5.0,Colombo,Adelaide Oval,2016/17,Pakistan in Australia ODI Series,ODI,50,Australia,Pakistan,international,Australia,bat,Australia,57.0,7.0,DA Warner
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3067,2016-08-28,3.0,Colombo,Rangiri Dambulla International Stadium,2016,Australia in Sri Lanka ODI Series,ODI,50,Sri Lanka,Australia,international,Sri Lanka,bat,Australia,NaN,2.0,GJ Bailey
3068,2016-08-31,4.0,Colombo,Rangiri Dambulla International Stadium,2016,Australia in Sri Lanka ODI Series,ODI,50,Sri Lanka,Australia,international,Sri Lanka,bat,Australia,NaN,6.0,JW Hastings
3069,2016-09-04,5.0,Colombo,Pallekele International Cricket Stadium,2016,Australia in Sri Lanka ODI Series,ODI,50,Sri Lanka,Australia,international,Sri Lanka,bat,Australia,NaN,5.0,DA Warner
3070,2016-08-14,26.0,Edinburgh,"Grange Cricket Club Ground, Raeburn Place",2016,ICC World Cricket League Championship,ODI,50,Scotland,United Arab Emirates,international,United Arab Emirates,field,Scotland,98.0,5.0,NaN
3071,2016-08-16,28.0,Edinburgh,"Grange Cricket Club Ground, Raeburn Place",2016,ICC World Cricket League Championship,ODI,50,Scotland,United Arab Emirates,international,United Arab Emirates,bat,Scotland,NaN,7.0,NaN

In [12]:
import pandas as pd
df_t20 = pd.read_csv(r"C:\Users\Aakankhya\Cricsheet Match Data Analysis\General_Datasets\t20s_json.csv")
df_t20

,Date,Match_Number,City,Venue,Season,Name,Match_Type,Total_Overs,Teams_Participated,Team_1,Team_2,Team_Type,Toss_Winner,Choose_To,Match_Winner,Match_Result,Win_By_Runs,Win_By_Wickets,Win_By_Innings,Man_Of_Match
0,2017-02-17,1.0,NaN,Melbourne Cricket Ground,2016/17,Sri Lanka in Australia T20I Series,T20,20,"Australia, Sri Lanka",Australia,Sri Lanka,international,Sri Lanka,field,Sri Lanka,NaN,NaN,5.0,NaN,DAS Gunaratne
1,2017-02-19,2.0,Victoria,"Simonds Stadium, South Geelong",2016/17,Sri Lanka in Australia T20I Series,T20,20,"Australia, Sri Lanka",Australia,Sri Lanka,international,Sri Lanka,field,Sri Lanka,NaN,NaN,2.0,NaN,DAS Gunaratne
2,2017-02-22,3.0,NaN,Adelaide Oval,2016/17,Sri Lanka in Australia T20I Series,T20,20,"Australia, Sri Lanka",Australia,Sri Lanka,international,Sri Lanka,field,Australia,NaN,41.0,NaN,NaN,A Zampa
3,2016-09-05,1.0,Londonderry,"Bready Cricket Club, Magheramason",2016,Hong Kong in Ireland T20I Series,T20,20,"Ireland, Hong Kong",Ireland,Hong Kong,international,Hong Kong,bat,Hong Kong,NaN,40.0,NaN,NaN,NaN
4,2016-06-18,1.0,NaN,Harare Sports Club,2016,India in Zimbabwe T20I Series,T20,20,"Zimbabwe, India",Zimbabwe,India,international,India,field,Zimbabwe,NaN,2.0,NaN,NaN,E Chigumbura
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4770,2016-03-04,10.0,Mirpur,Shere Bangla National Stadium,2015/16,Asia Cup,T20,20,"Pakistan, Sri Lanka",Pakistan,Sri Lanka,international,Pakistan,field,Pakistan,NaN,NaN,6.0,NaN,Umar Akmal
4771,2016-03-06,NaN,Mirpur,Shere Bangla National Stadium,2015/16,Asia Cup,T20,20,"Bangladesh, India",Bangladesh,India,international,India,field,India,NaN,NaN,8.0,NaN,S Dhawan
4772,2016-02-03,NaN,Dubai,ICC Academy,2015/16,NaN,T20,20,"United Arab Emirates, Netherlands",United Arab Emirates,Netherlands,international,United Arab Emirates,field,Netherlands,NaN,84.0,NaN,NaN,Mudassar Bukhari
4773,2016-09-06,1.0,NaN,Pallekele International Cricket Stadium,2016,Australia in Sri Lanka T20I Series,T20,20,"Sri Lanka, Australia",Sri Lanka,Australia,international,Sri Lanka,field,Australia,NaN,85.0,NaN,NaN,GJ Maxwell
4774,2016-09-09,2.0,Colombo,R Premadasa Stadium,2016,Australia in Sri Lanka T20I Series,T20,20,"Sri Lanka, Australia",Sri Lanka,Australia,international,Sri Lanka,bat,Australia,NaN,NaN,4.0,NaN,GJ Maxwell

In [13]:
df_t20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4775 entries, 0 to 4774
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                4775 non-null   object
 1   Match_Number        4257 non-null   float64
 2   City                4596 non-null   object
 3   Venue               4775 non-null   object
 4   Season              4775 non-null   object
 5   Name                4709 non-null   object
 6   Match_Type          4775 non-null   object
 7   Total_Overs         4775 non-null   int64
 8   Teams_Participated  4775 non-null   object
 9   Team_1              4775 non-null   object
 10  Team_2              4775 non-null   object
 11  Team_Type           4775 non-null   object
 12  Toss_Winner         4775 non-null   object
 13  Choose_To           4775 non-null   object
 14  Match_Winner        4632 non-null   object
 15  Match_Result        143 non-null    object
 16  Win_By_Runs         2334 non-null   float64
 17  Win_By_Wickets      2296 non-null   float64
 18  Win_By_Innings      0 non-null      float64
 19  Man_Of_Match        4328 non-null   object
dtypes: float64(4), int64(1), object(15)
memory usage: 746.2+ KB

In [14]:
columns_to_drop = ['Teams_Participated', 'Win_By_Innings', 'Match_Result']
df_t20.drop(columns=columns_to_drop, inplace=True)
print(f"Dropped columns: {columns_to_drop}")

Dropped columns: ['Teams_Participated', 'Win_By_Innings', 'Match_Result']

In [15]:
city_mode = df_t20['City'].mode()[0]
df_t20['City'].fillna(city_mode, inplace=True)

C:\Users\Aakankhya\AppData\Local\Temp\ipykernel_16488\3716803350.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_t20['City'].fillna(city_mode, inplace=True)

In [16]:
df_t20['Win_By_Wickets'].fillna(method='ffill', inplace=True)

C:\Users\Aakankhya\AppData\Local\Temp\ipykernel_16488\2431529282.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_t20['Win_By_Wickets'].fillna(method='ffill', inplace=True)
C:\Users\Aakankhya\AppData\Local\Temp\ipykernel_16488\2431529282.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_t20['Win_By_Wickets'].fillna(method='ffill', inplace=True)

In [17]:
import pandas as pd
df_tests = pd.read_csv(r"C:\Users\Aakankhya\Cricsheet Match Data Analysis\General_Datasets\tests_json.csv")
df_tests

,Date,Match_Number,City,Venue,Season,Name,Match_Type,Total_Overs,Teams_Participated,Team_1,Team_2,Team_Type,Toss_Winner,Choose_To,Match_Winner,Match_Result,Win_By_Runs,Win_By_Wickets,Win_By_Innings,Man_Of_Match
0,2016-11-03,1.0,Perth,Western Australia Cricket Association Ground,2016/17,South Africa in Australia Test Series,Test,NaN,"Australia, South Africa",Australia,South Africa,international,South Africa,bat,South Africa,NaN,177.0,NaN,NaN,K Rabada
1,2016-11-12,2.0,Hobart,Bellerive Oval,2016/17,South Africa in Australia Test Series,Test,NaN,"Australia, South Africa",Australia,South Africa,international,South Africa,field,South Africa,NaN,80.0,NaN,1.0,KJ Abbott
2,2016-11-24,3.0,NaN,Adelaide Oval,2016/17,South Africa in Australia Test Series,Test,NaN,"Australia, South Africa",Australia,South Africa,international,South Africa,bat,Australia,NaN,NaN,7.0,NaN,UT Khawaja
3,2016-12-15,1.0,Brisbane,"Brisbane Cricket Ground, Woolloongabba",2016/17,Pakistan in Australia Test Series,Test,NaN,"Australia, Pakistan",Australia,Pakistan,international,Australia,bat,Australia,NaN,39.0,NaN,NaN,Asad Shafiq
4,2016-12-26,2.0,NaN,Melbourne Cricket Ground,2016/17,Pakistan in Australia Test Series,Test,NaN,"Australia, Pakistan",Australia,Pakistan,international,Pakistan,bat,Australia,NaN,18.0,NaN,1.0,SPD Smith
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
880,2017-01-02,2.0,Cape Town,Newlands,2016/17,Sri Lanka in South Africa Test Series,Test,NaN,"South Africa, Sri Lanka",South Africa,Sri Lanka,international,Sri Lanka,field,South Africa,NaN,282.0,NaN,NaN,K Rabada
881,2017-01-12,3.0,Johannesburg,New Wanderers Stadium,2016/17,Sri Lanka in South Africa Test Series,Test,NaN,"South Africa, Sri Lanka",South Africa,Sri Lanka,international,South Africa,bat,South Africa,NaN,118.0,NaN,1.0,JP Duminy
882,2016-07-26,1.0,NaN,Pallekele International Cricket Stadium,2016,Warne-Muralitharan Trophy,Test,NaN,"Sri Lanka, Australia",Sri Lanka,Australia,international,Sri Lanka,bat,Sri Lanka,NaN,106.0,NaN,NaN,BKG Mendis
883,2016-08-04,2.0,NaN,Galle International Stadium,2016,Warne-Muralitharan Trophy,Test,NaN,"Sri Lanka, Australia",Sri Lanka,Australia,international,Sri Lanka,bat,Sri Lanka,NaN,229.0,NaN,NaN,MDK Perera
884,2016-08-13,3.0,Colombo,Sinhalese Sports Club Ground,2016,Warne-Muralitharan Trophy,Test,NaN,"Sri Lanka, Australia",Sri Lanka,Australia,international,Sri Lanka,bat,Sri Lanka,NaN,163.0,NaN,NaN,HMRKB Herath

In [18]:
df_tests.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 885 entries, 0 to 884
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                885 non-null    object
 1   Match_Number        843 non-null    float64
 2   City                787 non-null    object
 3   Venue               885 non-null    object
 4   Season              885 non-null    object
 5   Name                876 non-null    object
 6   Match_Type          885 non-null    object
 7   Total_Overs         0 non-null      float64
 8   Teams_Participated  885 non-null    object
 9   Team_1              885 non-null    object
 10  Team_2              885 non-null    object
 11  Team_Type           885 non-null    object
 12  Toss_Winner         885 non-null    object
 13  Choose_To           885 non-null    object
 14  Match_Winner        710 non-null    object
 15  Match_Result        175 non-null    object
 16  Win_By_Runs         482 non-null    float64
 17  Win_By_Wickets      227 non-null    float64
 18  Win_By_Innings      165 non-null    float64
 19  Man_Of_Match        874 non-null    object
dtypes: float64(5), object(15)
memory usage: 138.4+ KB

In [19]:
columns_to_drop = ['Teams_Participated',  'Total_Overs', 'Match_Result']
df_tests.drop(columns=columns_to_drop, inplace=True)
print(f"Dropped columns: {columns_to_drop}")

Dropped columns: ['Teams_Participated', 'Total_Overs', 'Match_Result']

In [20]:
df_tests['Win_By_Innings'].fillna(0.0, inplace=True)
df_tests['Win_By_Runs'].fillna(0.0, inplace=True)
df_tests['Match_Number'].fillna(df_tests['Match_Number'].median(), inplace=True)

C:\Users\Aakankhya\AppData\Local\Temp\ipykernel_16488\1744985086.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_tests['Win_By_Innings'].fillna(0.0, inplace=True)
C:\Users\Aakankhya\AppData\Local\Temp\ipykernel_16488\1744985086.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_tests['Win_By_Runs'].fillna(0.0, inplace=True)
C:\Users\Aakankhya\AppData\Local\Temp\ipykernel_16488\1744985086.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_tests['Match_Number'].fillna(df_tests['Match_Number'].median(), inplace=True)

In [22]:
df_ipl.to_csv("ipl_cleaned.csv",index=False)
df_odis.to_csv("odis_cleaned.csv",index=False)
df_t20.to_csv("t20_cleaned.csv",index=False)
df_tests.to_csv("tests_cleaned.csv",index=False)